.guest-room-details {
    padding: 20px;
    text-align: center;
  }
  
  .guest-room-image {
    width: 35%;
    max-width: 500px;
    height: 300px;
  }
  
  .guest-room-description {
    font-size: 16px;
    line-height: 1.5;
    color: black;
  }
  
  .guest-room-price {
    font-size: 24px;
    font-weight: bold;
    color: black;
  }
  
  a {
    display: inline-block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
  }
  .kitchen-image{
    width: 35%;
    max-width: 500px;
    height: 300px;

  }
  h2{
    color: #032B44;
  }

  .kitchen-description{
    color: black;
  }
  