.queen-suite-details {
    padding: 20px;
    text-align: center;
  }
  
  .queen-suite-image {
    width: 50%;
    max-width: 600px;
    height: 300px;
  }
  
  .queen-suite-description {
    font-size: 16px;
    line-height: 1.5;
    color: black;
  }
  
  .queen-suite-price {
    font-size: 24px;
    color: white;
    font-weight: bold;
  }
  
  a {
    display: inline-block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
  }

  .lounge-image{
    width: 50%;
    max-width: 600px;
    height: 300px;
  }

  h1{
    color: #032B44;
  }

  .lounge-description{
    color: black;
  }

 .heading{
  color: black;
  
 }

 .Queensuite{
  color: white;
  font-size: 30px;
 }

  
    
    
  