.user-profile {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.userprofile {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.profile-info {
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

.profile-info label {
    display: block;
    margin-bottom: 10px;
}

.profile-info input {
    width: calc(100% - 20px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}

.profile-info button {
    padding: 10px 15px;
    background-color: #af960c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* .profile-info button:hover {
    background-color: #0056b3;
} */

.booking-history,
.favorite-accommodations {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

.booking-history h2,
.favorite-accommodations h2 {
    margin-top: 0;
    color: #af960c;

}

.booking-history ul,
.favorite-accommodations ul {
    list-style-type: none;
    padding: 0;
}

.booking-history li,
.favorite-accommodations li {
    padding: 8px;
    border-bottom: 1px solid #eee;
}

.booking-history li:last-child,
.favorite-accommodations li:last-child {
    border-bottom: none;
}

.booking-history li:hover,
.favorite-accommodations li:hover {
    background-color: #f1f1f1;
}
