

.accommodations {
    padding: 20px;
  }
  
  .accommodation-form {
    margin-bottom: 20px;
  }
  
  .accommodation-form input,
  .accommodation-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .accommodation-form button {
    padding: 10px 20px;
    background-color: #af960c;
    color: #032B44;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .accommodation-form button:hover {
    background-color: #af970c91;
  }
  
  .accommodation-list {
    list-style-type: none;
    padding: 0;
  }
  
  .accommodation-list li {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    position: relative;
  }
  
  .accommodation-list button {
    padding: 5px 10px;
    margin-right: 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .accommodation-list button:hover {
    background-color: #c82333;
  }
  
  .accommodation-list button:nth-of-type(1) {
    background-color: #007bff;
  }
  
  .accommodation-list button:nth-of-type(1):hover {
    background-color: #0056b3;
  }
  