.container {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 800px;
    display: flex;
    flex-direction: column;
    
    
    
  }
  
  .heading {
    text-align: center;
    color: #032B44;
    margin-bottom: 20px;
    
  }
  
  .contactItem {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
  }
  
  .icon {
    font-size: 24px;
    color: white; 
    background-color: #af960c; 
    border-radius: 50%;
    padding: 10px;

  }
  
  .contactInfo {
    color: #333;
  }
  
  .title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  p {
    margin: 0;
    font-size: 14px;
  }
  