

div {
    margin: 10px 0;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
 .passsword {
    padding: 10px 15px;
    background-color: #00ff40;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .passsword:hover {
    background-color: #af960c;
  }
  