.guest-room-details {
    padding: 20px;
    text-align: center;
  }
  
  .guest-room-image {
    width: 60%;
    max-width: 500px;
    height: 400px;
  }
  
  .guest-room-description {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .guest-room-price {
    font-size: 24px;
    font-weight: bold;
  }
  
  a {
    display: inline-block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
  }
  .kitchen-image{
    width: 60%;
    max-width: 500px;
    height: 400px;

  }
  