
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2; 
  }
  
  .logo {
    font-size: 1.5rem;
    font-family: 'Granze', sans-serif;
    
    font-weight: bold;
    color: #af960c;
  }

  /* .logo-slogan{
    margin-top: 40px;
  } */
  
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #444;
    font-weight: 700;
  }
  
  .sign-btn {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
  }

  .logout-btn{
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;

  }
 
  