.signup{
  color: #af960c;
  margin-bottom: 5px;
  margin-left: 160px;
}

.Signup-Container{
  background-color: rgba(255, 255, 255, 0.103);
  width: 550px;
  border-radius: 10px;
  margin-left: 700px;
  margin-bottom: 90px;
}

.forgot-link{
  color: #af960c;
}

.forgot-link:hover{
  color:#635508
}