

.terms-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.terms-header {
    background-color: #dce3e7;
    color: #fff;
    padding: 20px;
    border-radius: 8px 8px 0 0;
}

.terms-header h1 {
    margin: 0;
    text-align: center;
}

.terms-content h2 {
    color: #333;
}

.terms-content p {
    margin: 0 0 15px 0;
}

.contact-info {
    margin-top: 20px;
}
